<div class="balance">
    <div class="ethHeader"><a href="https://etherscan.io/address/0x1c968c05c64964da8146031dbe9e2e21d3b6432c"><i class="fab fa-ethereum"></i> ETH</a></div>
    <div class="ethValue">{{eth}}</div>
    <div class="zilHeader"><a href="https://viewblock.io/zilliqa/address/zil17djp4ds0f6w47d66lyktmgtsx7naf8jl5wr948"><i class="fab fa-gg"></i> ZIL</a></div>
    <div class="zilValue">{{zil}}</div>
    <div class="ethEURValue">{{eth|convToEur('eth')}} €</div>
    <div class="zilEURValue">{{zil|convToEur('zil')}} €</div>
</div>