.topSection {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    grid-template-rows: max-content;
    grid-gap: 16px;
    margin-bottom: 16px;
}

.topSection a {
    padding: 4px 16px;
    background: var(--lightBackgroundColor);
    line-height: 22px;
    border-radius: var(--defaultBorderRadius);
    border: var(--defaultBorder);
    color: var(--defaultTextColor);
    font-weight: bold;
}

.bottomSection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-auto-rows: max-content;
    grid-gap: 16px;
}

.bottomSection .monthWarningsComparison {
    min-width: 100%;
}

@media only screen and (max-width: 800px) {
    .topSection {
        grid-gap: 8px;
        margin-bottom: 8px;
    }
}