.workersOnline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    width: max-content;
    border-radius: var(--defaultBorderRadius);
    overflow: hidden;
    border: var(--defaultBorder);
    height: 96px;
    background: var(--lightBackgroundColor);
}

.workersOnline div {
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.workersOnline .header {
    background: #ebcd4a;
    color: var(--backgroundColor);
}

.workersOnline .value {
    font-size: 48px;
    align-self: center;
}

@media only screen and (max-width: 700px) {
    .workersOnline {
        width: 100%;
    }
}